body{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color:  slategray;     
}
/* Nav Bar */
.nav-item{
    display: inline-flex;
}
.nav-item ::before{
    content: "| ";
    color: white;
}

.nav-item :active :hover{
    color: black;
}
.wrapper{
    justify-content: center;
    margin-top: 25px;
    width: 100%;
    height: 100%;
}
.containerOne{
    display: flex;
   
}
.topLeft{ 
  margin: auto;
  
}
.mainPic{
    margin: auto;
}
.mainPic img{
    width: 350px;
    height: 350px; 
    border-radius: 15em;
}
.topRight{
    margin: auto; 
    width: 350px;    
    background-color: khaki;
    float: right;
}
.cardHolder{
    margin-top: 25px;
    display: inline-flex;   
    justify-content: space-evenly;  
    max-height: fit-content;
    width: 100%;
    }
.card{
    padding: auto;
    margin-left: 50px;
    margin-right: 50px;
}
.proficiencies{
    display: flex;
    height: 150px;
    width: 100%;     
    opacity: .75;
    border-radius: 3em;     
    }

.logos{
    display: inline-flex; 
    width: 100%;     
}
.logos img{    
    margin: auto;
    height: 100px;
    width: 100px;         
}
.slider{
    height: 550px;
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 70px;
    
}
.slideProjects img{
    height: 450px;
    width: 100%;   
    
}
.footerBreak{
    margin: 1px;
    padding: 1px;
}
.contactMe{
    margin-top:30px;    
    display: flex;
}

.myInfo{
   
    width:45%;
    height: 500px; 
    margin: auto;  
    text-align: center;
}
.infoContainer{
    width:50%;
    height: 450px;
    background-color: rgb(245, 245, 238);
    margin: auto;
    padding-top: 25px;
    box-shadow:2px 2px 3px black;
    border-radius: 1.25em;
}
.myInfo img{
    height: 100px;
    width: 100px;
}
.userContact{
    width: 45%;   
    height: 500px;
    float: right;
    margin: auto;
    text-align: center;    
    border-color: black;
}


span{
    color: black;
    font-size: 10px;
}

footer ul li{
    display: inline-block;
    padding: 0;    
}

footer ul li::before{
    content: "| ";
    color: white;
}

footer a, :active{
    color: black;
}